# postgres server
POSTGRES_USER= # default database superuser
POSTGRES_PASSWORD= # password for the superuser
POSTGRES_DB= # database you want to initialise when deploying the db server

# application
APP_USER= #application user (least privileged user in database)
APP_PASSWORD= # application user password
DATABASE_URL=postgresql://${APP_USER}:${APP_PASSWORD}@postgres:5432/${POSTGRES_DB}
